* {
    font: inherit;
    margin: 0;
}

div {
    display: block;
}

header {
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1320px;
    height: 600px;
    top: 50px;
    left: 280px;

}

header .container {
    background-image: url(/resources/Banner\ Image.png);
    position: relative;
    height: 600px;



}

.container .content-box {
    position: absolute;
    width: 632px;
    height: 246px;
    top: 177px;
    left: 337px;
}

.container .content-box .content {
    position: absolute;
    width: 636px;
    height: 246px;
}

.container .content-box .content .small {
    color: #FFF;
    position: absolute;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    top: 0;
    left: 186px;


}

.container .content-box .content .big {
    color: #FFF;
    position: absolute;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    top: 60px;
    left: 0;
}


section .container {
    position: absolute;
    width: 803px;
    height: 806px;
    top: 770px;
    left: 500px;

}

section .container .content-1 {
    position: absolute;
    width: 385px;
    height: 107px;
    top: 0;
    left: 209px;


}

section .container .content-1 .big {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ff0000;
    font-size: 88px;
    text-align: center;
    margin: 0;
}

section .container .content-2 {
    position: absolute;
    width: 803px;
    height: 651px;
    top: 155px;
    left: 0;
}

section .container .content-2 .content-box {
    position: absolute;
    width: 414px;
    height: 103px;
    top: 0;
    left: 196px;
}

section .container .content-2 .content-box .small {
    position: absolute;
    top: 0;
    left: 7px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ff0000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

section .container .content-2 .content-box .medium {
    position: absolute;
    top: 45px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #070211;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

section .container .content-2 .img {
    position: absolute;
    width: 803px;
    height: 500px;
    top: 151px;
    left: 0;
    object-fit: cover;
}

section .container-2 {
    background-image: url(/resources/Vectorrr.png);
    position: absolute;
    width: 1320px;
    height: 600px;
    top: 105em;
    left: 280px;

}

section .container-2 .content-box {
    padding: 200px 128px;
    font: inherit;
}

section .container-2 .content-box .intro {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
}

section .container-2 .content-box .title  {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

section .container-2 .button {
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-2 .button button{
    background: inherit;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    padding-top:10px ;
    
}